<div class="terms_condition_widget">
    <h4 class="title">Categories Property</h4>
    <div class="widget_list">
        <ul class="list_details">
            <li><a href="#"><i class="fa fa-caret-right mr10"></i>Apartment <span
                        class="float-right">6 properties</span></a></li>
            <li><a href="#"><i class="fa fa-caret-right mr10"></i>Condo <span
                        class="float-right">12
                        properties</span></a></li>
            <li><a href="#"><i class="fa fa-caret-right mr10"></i>Family House <span
                        class="float-right">8 properties</span></a></li>
            <li><a href="#"><i class="fa fa-caret-right mr10"></i>Modern Villa <span
                        class="float-right">26 properties</span></a></li>
            <li><a href="#"><i class="fa fa-caret-right mr10"></i>Town House <span
                        class="float-right">89 properties</span></a></li>
        </ul>
    </div>
</div>