<div class="home_adv_srch_opt">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" (click)="rent_price_fun()">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                href="/productpagepills-home" role="tab" aria-controls="pills-home"
                aria-selected="true">Rent
            </a>
        </li>
        <li class="nav-item" (click)="buyyer_price_fun()">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                href="/productpagepills-profile" role="tab" aria-controls="pills-profile"
                aria-selected="false">Buy
            </a>
        </li>
    </ul>
    <div class="tab-content home1_adsrchfrm mx-auto" style="width: 80%;"
        id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
            aria-labelledby="pills-home-tab">
            <form [formGroup]="searchForm" class="home1-advnc-search" action="#"
                name="searchHome" id="searchhome" #searchhome="ngForm">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="search_type"
                                name="search_type" formControlName="search_type">
                            <input type="text" class="form-control input-text" name="build_name"
                                formControlName="build_name" id="build_name"
                                placeholder="Enter keywords...">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="search_option_two">
                            <div class="form-group candidate_revew_select">
                                <select class="selectpicker w100 show-tick form-control"
                                    name="type" formControlName="type" id="type">
                                    <!-- <option  value="" >Select Property Type</option> -->
                                    <!-- <option  *ngFor="let property_type of property_type_data" [value]="property_type.id" >{{property_type.name}}</option> -->
                                    <option value="" disabled>Select Property Type
                                    </option>
                                    <option value="" disabled>
                                        <h3>ALL RESIDENTIAL</h3>
                                    </option>
                                    <option value="1">Flat/ Apartment</option>
                                    <option value="2">Residential House</option>
                                    <option value="3">Villa</option>
                                    <option value="4">Builder Floor Apartment
                                    </option>
                                    <option value="5">Residential Land/ Plot
                                    </option>
                                    <option value="6">Penthouse</option>
                                    <option value="7">Studio Apartment</option>
                                    <option value="" disabled>
                                        <h3>ALL COMMERCIAL</h3>
                                    </option>
                                    <option value="8">Commercial Office Space
                                    </option>
                                    <option value="9">Office in IT Park/ SEZ
                                    </option>
                                    <option value="10">Commercial Shop</option>
                                    <option value="11">Commercial Showroom</option>
                                    <option value="12">Commercial Land</option>
                                    <option value="13">Warehouse/ Godown</option>
                                    <option value="14">Industrial Land</option>
                                    <option value="15">Industrial Building</option>
                                    <option value="16 ">Industrial Shed</option>
                                    <option value="" disabled>
                                        <h3>ALL AGRICULTURAL</h3>
                                    </option>
                                    <option value="17">Agricultural Land</option>
                                    <option value="18">Farm House</option>
                                </select>
                                <!-- <input type="text" class="form-control" name="type" [(ngModel)]="form.type" #type="ngModel" id="type" placeholder="Enter keywords..."> -->

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="Location"
                                formControlName="Location" id="Location"
                                placeholder="Location">
                            <input #search autocorrect="off" autocapitalize="off"
                                spellcheck="off" formControlName="Location" type="search"
                                class="form-control input-text" placeholder="Enter Address"/>
                            <!--<label class="address_span" for="Location"><span
                                            class="flaticon-maps-and-flags"></span></label>-->
                        </div>
                    </div>
                    <div *ngIf="rent_range_slider== true"
                        class="range-slider-homa-page col-lg-3 col-md-4 col-sm-12">
                        <div class="search_option_two">
                            <div class="candidate_revew_select">
                                <div class="dropdown bootstrap-select w100 show-tick">
                                    <ngx-slider [options]="options"
									formControlName="sliderControl"></ngx-slider>
                                    <input type="hidden" class="form-control" id="Minimum"
                                        placeholder="Min Price" name="Minimum"
                                        formControlName="Minimum">
                                    <input type="hidden" class="form-control" id="Maximum"
                                        placeholder="Max Price" name="Maximum"
                                        formControlName="Maximum">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="buyyer_range_slider== true"
                        class="range-slider-homa-page col-lg-3 col-md-4 col-sm-12">
                        <div class="search_option_two">
                            <div class="candidate_revew_select">
                                <div class="dropdown bootstrap-select w100 show-tick">
                                    <ngx-slider [options]="options_sales"
									 formControlName="sliderControl"></ngx-slider>
                                    <input type="hidden" class="form-control" id="Minimum"
                                        placeholder="Min Price" name="Minimum"
                                        formControlName="Minimum">
                                    <input type="hidden" class="form-control" id="Maximum"
                                        placeholder="Max Price" name="Maximum"
                                        formControlName="Maximum">
                                    <!-- <option value="Others">Others</option> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="search_option_button text-center form-group h100">
                            <button type="button"
                                (click)="searchhome.form.valid && onSearch()"
                                class="btn btn-thm w100 h50">Search
                            </button>
                        </div>
                    </div>
                </div><!--row -->
                <div class="row mt25">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="accord-div">
                        <a class="btn" data-toggle="collapse" href="#collapseExample"
                            role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            Advanced <i class="fa fa-angle-down"></i>
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row mt20 mb20">
                                    <div class="col-lg-12">
                                        <h4 class="text-thm3 text-center">Amenities
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="ui_kit_checkbox selectable-list">
                                        <li *ngFor="let menuData of amenitiesresult"
                                            class="col-lg-2 col-md-4 col-sm-5 col-5">
                                            <div class="custom-control custom-checkbox ">
                                                <input type="checkbox"
                                                    class="custom-control-input"
                                                    id="{{menuData.id}}"
                                                    value="{{menuData.id}}"
                                                    (change)="onchangeAmenties($event,menuData.id)">
                                                <label class="custom-control-label"
                                                    for="{{menuData.id}}">{{menuData.name}}</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row mb20">
                                    <div class="col-lg-3 col-md-6 col-sm-5">
                                        <div class="col-lg-12"><label>Bathrooms</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <select class="btn btn-thm" name="Bathrooms"
                                                formControlName="Bathrooms" id="Bathrooms">
                                                <option value="" disabled>Select
                                                    Bathrooms</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6 </option>
                                                <option value="7">7</option>
                                                <option value="8">8 </option>
                                                <option value="9">9</option>
                                                <option value="10">10 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-5">
                                        <div class="col-lg-12"><label>Bedrooms</label></div>
                                        <div class="col-lg-12">
                                            <select class="btn btn-thm" name="Bedrooms"
                                                formControlName="Bedrooms" id="Bedrooms">
                                                <option value="" selected disabled>Select
                                                    Bedrooms
                                                </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6 </option>
                                                <option value="7">7</option>
                                                <option value="8">8 </option>
                                                <option value="9">9</option>
                                                <option value="10">10 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-5">
                                        <div class="col-lg-12"><label>Year built</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <select class="btn btn-thm" name="Years"
                                                formControlName="Years" id="Years">
                                                <option value="" selected disabled>Select
                                                    Bulid
                                                    Years</option>
                                                <option value="2013">2013
                                                </option>
                                                <option value="2014">2014
                                                </option>
                                                <option value="2015">2015
                                                </option>
                                                <option value="2016">2016
                                                </option>
                                                <option value="2017">2017
                                                </option>
                                                <option value="2018">2018
                                                </option>
                                                <option value="2019">2019
                                                </option>
                                                <option value="2020">2020
                                                </option>
                                                <option value="2021">2021
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-5">
                                        <div class="col-lg-12"><label>Area Unit</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <select class="btn btn-thm" name="area_unit"
                                                formControlName="area_unit" id="area_unit">
                                                <option disabled value="" selected>
                                                    Select Area Unit
                                                </option>
                                                <option value="sq.ft.">sq.ft.
                                                </option>
                                                <option value="sq.yards">
                                                    sq.yards</option>
                                                <option value="sq.m.">sq.m.
                                                </option>
                                                <option value="acres">acres
                                                </option>
                                                <option value="marla">marla
                                                </option>
                                                <option value="cents"> cents
                                                </option>
                                                <option value="bigha">bigha
                                                </option>
                                                <option value="kottah">kottah
                                                </option>
                                                <option value="kanal"> kanal
                                                </option>
                                                <option value="grounds">grounds
                                                </option>
                                                <option value="biswa">biswa
                                                </option>
                                                <option value="guntha"> guntha
                                                </option>
                                                <option value="aankadam">
                                                    aankadam</option>
                                                <option value="hectares">
                                                    hectares</option>
                                                <option value="rood">rood
                                                </option>
                                                <option value="chataks">chataks
                                                </option>
                                                <option value="perch"> perch
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!--row -->
                            </div><!-- card -->
                        </div><!-- collasb -->
                    </div><!-- accord div -->
                </div><!-- row -->
            </form>
        </div><!-- tab plan--> 
    </div><!-- tab content -->
</div><!-- home adv -->