<div class="wrapper">
    <!--<app-topbardark></app-topbardark>-->

    <section class="our-error bgc-f7">
        <div class="container mt65">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="card">
                        <div class="card-header">
                            Uh Oh!
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mb50">I think you came here by mistake. Head over to the home page to buy/rent
                                your dream home</h4>

                            <a class="btn btn_error btn-thm" href="">Back To Home</a>
                        </div>
                    </div>
                    <!-- <div class="error_page footer_apps_widget">
                        <img class="img-fluid" src="./../../assets/images/access_denied.gif" alt="error.png">
                        <div class="erro_code">
                            <h1>Access Denied</h1>
                        </div>
                        <p>You do not have permission to view this page</p>
                        <form class="form-inline mailchimp_form">
                            <label class="sr-only" for="inlineFormInputName">Name</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName"
                                placeholder="Search">
                            <button type="submit" class="btn btn-primary mb-2"><span
                                    class="flaticon-magnifying-glass"></span></button>
                        </form>
                    </div>-->

                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>