<!--<app-admindashtopbar></app-admindashtopbar>-->


<section class="our-dashbord dashbord bgc-f7 pb50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xl-2 dn-992 pl0">
        <app-menu-sidebar></app-menu-sidebar>
      </div>
      <div class="col-sm-12 col-lg-8 col-xl-10 maxw100flex-992">
        <div class="row">
          <div class="col-lg-12">
            <div class="dashboard_navigationbar dn db-992">
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard
                  Navigation</button>
                <ul id="myDropdown" class="dropdown-content">
                  <li><a href="page-dashboard.html"><span class="flaticon-layers"></span> Dashboard</a></li>
                  <li><a href="page-message.html"><span class="flaticon-envelope"></span> Message</a></li>
                  <li class="active"><a href="page-my-properties.html"><span class="flaticon-home"></span> My
                      Properties</a></li>
                  <li><a href="page-my-favorites.html"><span class="flaticon-heart"></span> My Favorites</a></li>
                  <li><a href="page-my-savesearch.html"><span class="flaticon-magnifying-glass"></span> Saved Search</a>
                  </li>
                  <li><a href="page-my-review.html"><span class="flaticon-chat"></span> My Reviews</a></li>
                  <li><a href="page-my-packages.html"><span class="flaticon-box"></span> My Package</a></li>
                  <li><a href="page-my-profile.html"><span class="flaticon-user"></span> My Profile</a></li>
                  <li><a href="page-add-new-property.html"><span class="flaticon-filter-results-button"></span> Add New
                      Listing</a></li>
                  <li><a href="page-login.html"><span class="flaticon-logout"></span> Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 mb10">
            <div class="breadcrumb_content style2 mb30-991" style="margin-left: 30px;">
              <h2 class="breadcrumb_title">All Users</h2>
              <p>We are glad to see you again!</p>
            </div>
          </div>
          <div class="col-lg-8 col-xl-8">
            <div class="candidate_revew_select style2 text-right mb30-991">
              <ul class="mb0">


              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <span class="status_tag badge">AGENTS</span>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Date of Account Creation</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of content_agent">
                        <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img *ngIf="number.profile_pic !== null" class="img-whp"
                                src="{{ftpURL}}images/{{number.profile_pic}}" alt="Profile Pic">
                              <img *ngIf="number.profile_pic == null" class="img-whp"
                                src="./../../assets/images/no_image_available.jpg" alt="Profile Pic">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.blocked "><a>BLOCKED</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.name }}</h4>
                                <p><span class="flaticon-placeholder"></span>City: {{ number.city }}</p>
                                <p><span class="flaticon-placeholder"></span>Address: {{ number.address }}</p>
                                <a class="fp_price text-thm" href="#">Phone No.:{{ number.other_mobile_number
                                  }}<small></small></a>
                              </div>
                            </div>
                          </div>
                        </th>
                        <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>

                        <td><span class="status_tag badge"
                            *ngIf="!number.phone_number_verification_status">Unverified</span><span class="status_tag"
                            *ngIf="number.phone_number_verification_status">Verified</span></td>
                        <td>{{ number.view_counter }}</td>
                        <td>
                          <ul class="view_edit_delete_list mb0">
                            <!-- <li class="list-inline-item list_s"><a href="#" class="btn flaticon-user" data-toggle="modal" data-target=".bd-example-modal-lg"> <span class="dn-lg">Login/Register</span></a></li> -->

                            <!--<li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                (click)="user_details(number.email)"><span class="flaticon-edit"></span></a></li>-->
                            <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                [routerLink]="['/usercreator-edit', number.email]"><span
                                  class="flaticon-edit"></span></a></li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a
                                (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                          </ul>
                        </td>
                      </tr>



                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>



          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <span class="status_tag badge">BUILDERS</span>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Date of Account Creation</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of content_builder">
                        <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img *ngIf="number.profile_pic !== null" class="img-whp"
                              src="{{ftpURL}}images/{{number.profile_pic}}" alt="Profile Pic">
                            <img *ngIf="number.profile_pic == null" class="img-whp"
                              src="./../../assets/images/no_image_available.jpg" alt="Profile Pic">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.blocked "><a>BLOCKED</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.name }}</h4>
                                <p><span class="flaticon-placeholder"></span>City: {{ number.city }}</p>
                                <p><span class="flaticon-placeholder"></span>Address: {{ number.address }}</p>
                                <a class="fp_price text-thm" href="#">Phone No.:{{ number.other_mobile_number
                                  }}<small></small></a>
                              </div>
                            </div>
                          </div>
                        </th>
                        <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>

                        <td><span class="status_tag badge"
                            *ngIf="!number.phone_number_verification_status">Unverified</span><span class="status_tag"
                            *ngIf="number.phone_number_verification_status">Verified</span></td>
                        <td>{{ number.view_counter }}</td>
                        <td>
                          <ul class="view_edit_delete_list mb0">
                            <!--<li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                (click)="user_details(number.email)"><span class="flaticon-edit"></span></a></li>-->
                            <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                [routerLink]="['/usercreator-edit', number.email]"><span
                                  class="flaticon-edit"></span></a></li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a
                                (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                          </ul>
                        </td>
                      </tr>



                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <span class="status_tag badge">INDIVIDUALS</span>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Date of Account Creation</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of content_individual">
                        <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img *ngIf="number.profile_pic !== null" class="img-whp"
                                src="{{ftpURL}}images/{{number.profile_pic}}" alt="Profile Pic">
                              <img *ngIf="number.profile_pic == null" class="img-whp"
                                src="./../../assets/images/no_image_available.jpg" alt="Profile Pic">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.blocked "><a>BLOCKED</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.name }}</h4>
                                <p><span class="flaticon-placeholder"></span>City: {{ number.city }}</p>
                                <p><span class="flaticon-placeholder"></span>Address: {{ number.address }}</p>
                                <a class="fp_price text-thm" href="#">Phone No.:{{ number.other_mobile_number
                                  }}<small></small></a>
                              </div>
                            </div>
                          </div>
                        </th>
                        <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>

                        <td><span class="status_tag badge"
                            *ngIf="!number.phone_number_verification_status">Unverified</span><span class="status_tag"
                            *ngIf="number.phone_number_verification_status">Verified</span></td>
                        <td>{{ number.view_counter }}</td>
                        <td>
                          <ul class="view_edit_delete_list mb0">
                            <!--<li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                (click)="user_details(number.email)"><span class="flaticon-edit"></span></a></li>-->

                            <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                [routerLink]="['/usercreator-edit', number.email]"><span
                                  class="flaticon-edit"></span></a></li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a
                                (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                          </ul>
                        </td>
                      </tr>



                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <span class="status_tag badge">INTERNAL USERS</span>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Date of Account Creation</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of content_internal_user">
                        <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img *ngIf="number.profile_pic !== null" class="img-whp"
                              src="{{ftpURL}}images/{{number.profile_pic}}" alt="Profile Pic">
                            <img *ngIf="number.profile_pic == null" class="img-whp"
                              src="./../../assets/images/no_image_available.jpg" alt="Profile Pic">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.blocked "><a>BLOCKED</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.name }}</h4>
                                <p><span class="flaticon-placeholder"></span>City: {{ number.city }}</p>
                                <p><span class="flaticon-placeholder"></span>Address: {{ number.address }}</p>
                                <a class="fp_price text-thm" href="#">Phone No.:{{ number.other_mobile_number
                                  }}<small></small></a>
                              </div>
                            </div>
                          </div>
                        </th>
                        <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>

                        <td><span class="status_tag badge"
                            *ngIf="!number.phone_number_verification_status">Unverified</span><span class="status_tag"
                            *ngIf="number.phone_number_verification_status">Verified</span></td>
                        <td>{{ number.view_counter }}</td>
                        <td>
                          <ul class="view_edit_delete_list mb0">
                            <!-- <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                (click)="user_details(number.email)"><span class="flaticon-edit"></span></a></li>-->

                            <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                [routerLink]="['/usercreator-edit', number.email]"><span
                                  class="flaticon-edit"></span></a></li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a
                                (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                          </ul>
                        </td>
                      </tr>



                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <span class="status_tag badge">ADMIN</span>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Date of Account Creation</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of content_admin">
                        <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img *ngIf="number.profile_pic !== null" class="img-whp"
                                src="{{ftpURL}}images/{{number.profile_pic}}" alt="Profile Pic">
                              <img *ngIf="number.profile_pic == null" class="img-whp"
                                src="./../../assets/images/no_image_available.jpg" alt="Profile Pic">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.blocked "><a>BLOCKED</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.name }}</h4>
                                <p><span class="flaticon-placeholder"></span>City: {{ number.city }}</p>
                                <p><span class="flaticon-placeholder"></span>Address: {{ number.address }}</p>
                                <a class="fp_price text-thm" href="#">Phone No.:{{ number.other_mobile_number
                                  }}<small></small></a>
                              </div>
                            </div>
                          </div>
                        </th>
                        <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>

                        <td><span class="status_tag badge"
                            *ngIf="!number.phone_number_verification_status">Unverified</span><span class="status_tag"
                            *ngIf="number.phone_number_verification_status">Verified</span></td>
                        <td>{{ number.view_counter }}</td>
                        <td>
                          <ul class="view_edit_delete_list mb0">
                            <!-- <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                (click)="user_details(number.email)"><span class="flaticon-edit"></span></a></li>-->
                            <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a
                                data-toggle="modal" data-target=".bd-example-modal-lg"
                                [routerLink]="['/usercreator-edit', number.email]"><span
                                  class="flaticon-edit"></span></a></li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a
                                (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                          </ul>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt100">
          <div class="col-lg-12">
            <div class="copyright-widget text-center">
              <p>All Rights Reserved. © Copyright 2021 Housingstreet Marketing & Consulting Private Limited.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>