<section id="property-city" class="property-city pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Find Properties in These Cities</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4" (click)="property_search('Delhi')">
                <div class="properti_city">
                    <div class="thumb">
                        <img class="img-fluid w100 lazy" data-src="./assets/css/images/property/pc1.jpg" alt="pc1.jpg">
                    </div>
                    <div class="overlay">
                        <div class="details">
                            <p>Mumbai</p>
                            <!-- <p>24 Properties</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8" (click)="property_search('Chattarpur')">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100 lazy" data-src="./assets/css/images/property/pc2.jpg"
                            alt="pc2.jpg"></div>
                    <div class="overlay">
                        <div class="details">
                            <p>Delhi</p>
                            <!-- <p>18 Properties</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8" (click)="property_search('chennai')">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100 lazy" data-src="./assets/css/images/property/pc3.jpg"
                            alt="pc3.jpg"></div>
                    <div class="overlay">
                        <div class="details">
                            <p>Chennai</p>
                            <!-- <p>89 Properties</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4" (click)="property_search('kolkata')">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100 lazy" data-src="./assets/css/images/property/pc4.jpg"
                            alt="pc4.jpg"></div>
                    <div class="overlay">
                        <div class="details">
                            <p>Kolkata</p>
                            <!-- <p>47 Properties</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>