<app-admindashtopbar></app-admindashtopbar>


<section class="our-dashbord dashbord bgc-f7 pb50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
      <div class="col-sm-12 col-lg-8 col-xl-10 maxw100flex-992">
        <div class="row">
          <div class="col-lg-12">
            <div class="dashboard_navigationbar dn db-992">
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
                <ul id="myDropdown" class="dropdown-content">
                  <li><a href="page-dashboard.html"><span class="flaticon-layers"></span> Dashboard</a></li>
                  <li><a href="page-message.html"><span class="flaticon-envelope"></span> Message</a></li>
                  <li class="active"><a href="page-my-properties.html"><span class="flaticon-home"></span> My Properties</a></li>
                  <li><a href="page-my-favorites.html"><span class="flaticon-heart"></span> My Favorites</a></li>
                  <li><a href="page-my-savesearch.html"><span class="flaticon-magnifying-glass"></span> Saved Search</a></li>
                  <li><a href="page-my-review.html"><span class="flaticon-chat"></span> My Reviews</a></li>
                  <li><a href="page-my-packages.html"><span class="flaticon-box"></span> My Package</a></li>
                  <li><a href="page-my-profile.html"><span class="flaticon-user"></span> My Profile</a></li>
                  <li><a href="page-add-new-property.html"><span class="flaticon-filter-results-button"></span> Add New Listing</a></li>
                  <li><a href="page-login.html"><span class="flaticon-logout"></span> Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 mb10">
            <div class="breadcrumb_content style2 mb30-991" style="margin-left: 30px;">
              <h2 class="breadcrumb_title">All Properties</h2>
              <p>We are glad to see you again!</p>
            </div>
          </div>
          <div class="col-lg-8 col-xl-8">
            <div class="candidate_revew_select style2 text-right mb30-991">
              <ul class="mb0">


              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="my_dashboard_review mb40">
              <div class="property_table">
                <div class="table-responsive mt0">
                  <table class="table">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">Listing Title</th>
                          <th scope="col">Date published</th>
                          <!-- <th scope="col">Status</th> -->
                          <th scope="col">View</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let number of content">
                          <th scope="row">
                          <div class="feat_property list favorite_page style2">
                            <div class="thumb">
                              <img class="img-whp" src="{{ ftpURL }}{{ number.product_image1 }}" alt="fp1.jpg">
                              <div class="thmb_cntnt">
                                <ul class="tag mb0">
                                  <li class="list-inline-item dn"></li>
                                  <li class="list-inline-item" *ngIf=" number.rent_availability == 1 "><a >For Rent</a></li>
                                  <li class="list-inline-item" *ngIf=" number.sale_availability == 1 "><a >For Sale</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="details">
                              <div class="tc_content">
                                <h4>{{ number.build_name }}</h4>
                                <p><span class="flaticon-placeholder"></span>{{ number.address }}</p>
                                <a class="fp_price text-thm" *ngIf="number.expected_pricing != null"  href="#">₹ {{ number.expected_pricing }}<small></small></a>
                                <a class="fp_price text-thm" *ngIf="number.expected_rent != null"  href="#">₹ {{ number.expected_rent }}<small></small></a>
                              </div>
                            </div>
                          </div>
                          </th>
                          <!-- <td>{{ number.updated_at }}</td> -->
                          <td>{{ number.updated_at | date: 'MMM d, y, h:mm:ss a' }}</td>
                          <!-- <td><span class="status_tag badge">Pending</span></td> -->
                          <td>{{ number.view_counter }}</td>
                          <td>
                            <ul class="view_edit_delete_list mb0">
                              <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a data-toggle="modal" data-target=".bd-example-modal-lg" (click)="onShare(number.id)" ><span class="flaticon-view"></span></a></li>
                              <li class="list-inline-item" data-toggle="modal" data-placement="top" title="Edit"><a data-toggle="modal" data-target=".bd-example-modal-lg" (click)="product_details(number.id)" ><span class="flaticon-edit"></span></a></li>
                              <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete"><a (click)="del_func(number.id)"><span class="flaticon-garbage"></span></a></li>
                            </ul>
                          </td>
                        </tr>



                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="row mt10">
          <div class="col-lg-12">
            <div class="copyright-widget text-center">
              <p>All Rights Reserved. © Copyright 2021 Housingstreet Marketing & Consulting Private Limited.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
