<!--<app-topbardark-loader></app-topbardark-loader>-->
<!-- Our Pricing Table -->

<!-- <div class="row" *ngIf="showLoadingIndicator"> -->
   <div class="preloader"></div>
<!-- </div> -->


<section class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="breadcrumb_content">
					<h4 class="breadcrumb_title">Compare</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Compare</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our-pricing bgc-fa">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="main-title text-center">
					<h2>Compare Listings</h2>
					<p>We provide full service at every step</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="membership_container">
					<ul class="mc_parent_list">
						<div class="row" *ngIf="showLoadingIndicator">
							<div class="col-md-12 col-lg-12"  class="loaderClass">
							  <div class="preloader2"></div>
							</div>
						  </div> 
						<div class="row">
							<div class="col-xl-2">
								<li class="list-inline-item">
									<ul class="mc_child_list one">
										<li class="compare_page"><div class="membership_header dn"></div></li>
										<li>Type</li>
										<li>City</li>
										<li>Beds</li>
										<li>Baths</li>
										<li>Area</li>
										<li>Year of build</li>
										<li>Carpet Area</li>
										<li *ngFor="let amenties of amenitiesresult">{{amenties.name}}</li>
									</ul>
								</li>
							</div>
							<div class="col-xl-10">
								<li class="list-inline-item col-xl-3" *ngFor="let item of property_comp">
									<ul class="mc_child_list three text-center property_compare">
										<li>
											<div class="membership_header ">
												<div class="thumb">
													<a (click)="delete_comp(item.id)"><span class="flaticon-close"></span></a>
													<img class="img-fluid w100"  *ngIf="item.product_img.length>0;else OtherImage"  src="{{ ftpstring }}{{ item.product_img['0'].image}}" alt="2.jpg"><ng-template #OtherImage>
														<img class="img-whp" src="./../../assets/images/no_image_available.jpg" alt="No Product Image">
													  </ng-template>
													<div *ngIf="item.productdetails.expected_pricing != null" class="price">Rs. {{ Price_convert(item.productdetails.expected_pricing)}}<span class="mnth"></span></div><br><hr>
													<div *ngIf="item.productdetails.expected_rent != null" class="price">Rs. {{ Price_convert(item.productdetails.expected_rent) }}<span class="mnth">/mo</span></div>
												</div>
												<div class="details">
													<h5>{{item.productdetails.build_name | titlecase}}</h5>
												</div>
											</div>
										</li>
										<li>
											<a href=""><p><span>({{ item.productdetails.property__type.name | titlecase}})</span></p></a>
										</li>
										<li><a href="#">{{ item.productdetails.city | titlecase}}</a></li>
										<li><a href="#">{{ item.productdetails.bedroom }}</a></li>
										<li><a href="#">{{ item.productdetails.bathroom }}</a></li>
										<li><a href="#">{{ item.productdetails.area }}/{{ item.productdetails.area_unit }}</a></li>
										<li><a href="#">{{ item.productdetails.buildyear }}</a></li>
										<li><a href="#">{{ item.productdetails.carpet_area }}</a></li>
										<li class="amenties-check-comparision" *ngFor="let Amenties of amenitiesresult let i=index">
											<div *ngIf="Amenties_funtion(Amenties.id,item.product_id)==true,else OtherAmenties">
												<i class="fas fa-check-circle"></i>												
											</div>
											<ng-template #OtherAmenties>
												<div>
													<i class="fas fa-times-circle"></i>
												</div>
											</ng-template>
										</li>
									</ul>
								</li>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start Partners -->
<section class="start-partners bgc-thm pt50 pb50">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="start_partner tac-smd">
					<h2>Become a Real Estate Agent</h2>
					<p>We only work with the best companies around the globe</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="parner_reg_btn text-right tac-smd">
					<a class="btn btn-thm2" href="/agentregister">Register Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>
