
.button {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	background: #fd5800;
	border: none;
	color: #80360e !important;
	transition: .2s;
}

.button::before, .button::after 
	 {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		transition: .2s;
		transform-origin: 50% 60%;
        color: #eee;
	}
	.button::before {
		background: #a0400d;
	}
	.button:hover {
		background: darken(#fd5800, 10%);
	}
	.button:active,
	.button:focus {
		background: darken(#fd5800, 30%);
		outline: none;
	}

    .button {
        min-width: 15em;
    }

    .arrow {
        background: #eee;
        border: 2px solid #fff;
    }
        .arrow:hover {
            background: darken(#fd5800, 10%);
        }
        .arrow:active,
        .arrow:focus {
            background: darken(#fd5800, 30%);
        }
        .arrow:after {
            content: "\F054";
        }
        .arrow:hover:after {
            -webkit-animation: bounceright .3s alternate ease infinite;
            animation: bounceright .3s alternate ease infinite;
        }

        @keyframes bounceright {
            from { transform: translateX(0); }
            to   { transform: translateX(3px); }
        }

        @-webkit-keyframes bounceright {
            from { -webkit-transform: translateX(0); }
            to   { -webkit-transform: translateX(3px); }
        }
    