<app-topbardark-loader></app-topbardark-loader>

<section class="our-log bgc-fa">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3">
        <div class="login_form inner_page">
          <form action="#" *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
            <div class="heading">
              <h3 class="text-center">Admin Login</h3>
            </div>
             <div class="form-group">
                <input type="email" name="username"
                [(ngModel)]="form.email"
                required
                #username="ngModel" class="form-control" id="exampleInputEmail3" placeholder="Email Address">
                <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && username.invalid"
              >
                Username is required!
              </div>
              </div>

            <div class="form-group">
                <input type="password" name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel" class="form-control" id="exampleInputPassword4" placeholder="Password">
                <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && password.invalid"
              >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
              </div>
            <div class="form-group custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="exampleCheck3">
            </div>
            <div class="form-group">
            <button class="btn btn-log btn-block btn-thm2">Login</button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Login failed: {{ errorMessage }}
              </div>
              <ng-template #elseBlock>Login Succeeded</ng-template>
            </div>



          </form>

          <div *ngIf="isLoggedIn">
          <a href="/logout">
            <button class="btn btn-log btn-block btn-thm2">LOGOUT</button>
          </a>

          <a href="/adminpanel" *ngIf="!usertype">
            <button  class="btn btn-log btn-block btn-thm2" >Dashboard</button>
          </a>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
<a class="scrollToHome" ><i class="flaticon-arrows"></i></a>

