.rupeeSymbol {
    position: relative;
    float: left;
    padding: 0px;
    z-index: 0;
    left: 10px;
    bottom: 0px;
    top: 45px;
    color: #666;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.InputLabel {
    position: absolute;
    top: -5px !important;
    left: 20px !important;
    font-size: 10px !important;
    color: #999;
}

.perSign {
    position: absolute;
    color: #999;
    right: 80px;
    font-size: 16px;
    left: auto;
    cursor: pointer;
    float: left;
    padding-left: 3px 60px 10px 10px;
    bottom: 30px;
    font-weight: 600;
    top: 45px;
}

.tenYears {
    color: #999;
    right: 0;
    top: 45px;
    font-size: 16px;
    left: auto;
    cursor: pointer;
    position: absolute;
    float: left;
    padding: 3px 40px 10px 10px;
    z-index: 2;
    bottom: 3px;
    font-weight: 600;
}

.tenYears:after {
    content: '';
    width: 5px;
    height: 5px;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    position: absolute;
    margin: 8px 7px;
    transform: rotate(-135deg);
    right: 20px;
}

.hide {
    display: none !important;
}

.tenDropdown {
    position: absolute;
    z-index: 300;
    background-color: #fff;
    right: 16px;
    top: 85px;
    border: 1px solid #e1e8ec;
    padding: 0px 0px;
    color: #333;
    font-size: 10px;
    margin: 0;
    border-top: 0;
    max-height: 180px;
    min-width: 66px;
    overflow: hidden;
    overflow-y: auto;
}

.tenOptions {
    cursor: pointer;
    font-size: 14px;
    padding: 2px 10px;
    vertical-align: baseline;
    color: #333;
}

.border-custom1 {
    border: 1px solid #999;
}

canvas {
    height: 300px !important;
}