<section id="our-partners" class="our-partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Our Partners</h2>
                    <p>We only work with the best companies around the globe</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-6 col-md-4 col-lg">
                <div class="our_partner">
                    <img class="img-fluid lazy" data-src="./assets/css/images/partners/1.png" alt="1.png">
                </div>
            </div>
            <div class="col-4  col-sm-6 col-md-4 col-lg">
                <div class="our_partner">
                    <img class="img-fluid lazy" data-src="./assets/css/images/partners/2.png" alt="2.png">
                </div>
            </div>
            <div class="col-4  col-sm-6 col-md-4 col-lg">
                <div class="our_partner">
                    <img class="img-fluid lazy" data-src="./assets/css/images/partners/3.png" alt="3.png">
                </div>
            </div>
            <div class="col-4  col-sm-6 col-md-4 col-lg">
                <div class="our_partner">
                    <img class="img-fluid lazy" data-src="./assets/css/images/partners/4.png" alt="4.png">
                </div>
            </div>
            <div class="col-4  col-sm-6 col-md-4 col-lg">
                <div class="our_partner">
                    <img class="img-fluid lazy" data-src="./assets/css/images/partners/5.png" alt="5.png">
                </div>
            </div>
        </div>
    </div>
</section>