<header class="header-nav menu_style_home_one style2 menu-fixed main-menu">
  <div class="container-fluid p0">
    <!-- Ace Responsive Menu -->
    <nav>
      <!-- Menu Toggle btn-->
      <div class="menu-toggle">
        <img class="nav_logo_img img-fluid" src="./assets/css/images/header-logo.png" alt="header-logo.png">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a href="#" class="navbar_brand float-left dn-smd">
        <img class="logo1 img-fluid" src="./assets/css/images/header-logo2.png" alt="header-logo.png">
        <img class="logo2 img-fluid" src="./assets/css/images/header-logo2.png" alt="header-logo2.png">
        <span></span>
      </a>
      <!-- Responsive Menu Structure-->
      <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
      <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
        <li>
          <a href="/">
            <span class="title">Home</span>
          </a>
          <!-- Level Two-->

        </li>
        <li>
          <a href="/productlisting"><span class="title">Listing</span></a>
          <!-- Level Two-->

        </li>


        <li class="last">
          <a href="/contact"><span class="title">Contact</span></a>
        </li>
        <!-- Code added by Radhika Start -->
        <li class="last">
          <a href="/blog"><span class="title">Blog</span></a>
        </li>
        <!-- Code added by Radhika End -->
        <li class="user_setting">
          <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" data-toggle="dropdown"><span class="flaticon-user"></span><span
                class="dn-1199">{{ name }}</span></a>
            <div class="dropdown-menu">
              <div class="user_set_header">
                <span class="flaticon-user"></span>
                <p>{{ name }} <br><span class="address"><a href="https://grandetest.com/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="32535e5b464754535c72555f535b5e1c515d5f">[email&#160;protected]</a></span></p>
              </div>
              <div class="user_setting_content">
                <a class="dropdown-item active" href="/profile">My Profile</a>
                <!--<a class="dropdown-item" href="#">Messages</a>
                <a class="dropdown-item" href="#">Purchase history</a>
                <a class="dropdown-item" href="#">Help</a>-->
                <a class="dropdown-item" href="/logout">Log out</a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-inline-item add_listing">
          <a href="/insertproduct">
            <span class="flaticon-plus"></span>
            <span class="dn-lg"> List Property</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Main Header Nav For Mobile -->
<div id="page" class="stylehome1 h0">
  <div class="mobile-menu">
    <div class="header stylehome1">
      <div class="main_logo_home2 text-center">
        <img class="nav_logo_img img-fluid mt20" src="./assets/css/images/header-logo2.png" alt="header-logo2.png">
        <span class="mt20"></span>
      </div>
      <ul class="menu_bar_home2">
        <li class="list-inline-item list_s" *ngIf="!isLoggedIn">
          <a href="/register">
            <span class="flaticon-user"></span>
          </a>
        </li>
        <li class="list-inline-item list_s" *ngIf="isLoggedIn">
          <a href="/profile">
            <span class="flaticon-user"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#menu"></a>
        </li>
      </ul>
    </div>
  </div><!-- /.mobile-menu -->
  <nav id="menu" class="stylehome1">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="/productlisting">Listing</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/blog">
          <span class="title">Blog</span>
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="mm-listitem">
        <a href="/logout" class="mm-listitem__text">
          <span class="title">Logout</span>
        </a>
      </li>

      <li class="cl_btn">
        <a class="btn btn-block btn-lg btn-thm circle" href="/insertproduct">
          <span class="flaticon-plus"></span> 
          List Property
        </a>
      </li>
    </ul>
  </nav> 
</div>

<div class="dashboard_sidebar_menu dn-992">
  <ul class="sidebar-menu">
    <li class="header"><img src="./assets/css/images/header-logo2.png" alt="header-logo2.png"> </li>
    <div>
      <li class="title"><span>Main</span></li>
      <li class="treeview"><a href="/dashboard"><i class="flaticon-layers"></i><span> Dashboard</span></a></li>
    </div>
    <!-- Code added by Radhika Start -->
    <li *ngIf="usertype == 11"><a href="/admin-blog"><i class="flaticon-layers"></i> <span>Manage Blog</span></a></li>
    <!-- Code added by Radhika End -->
    <li class="title"><span>Manage Listings</span></li>
    <li *ngIf="usertype == 11"><a href="/adminusers"><i class="flaticon-user"></i> <span>All Users</span></a></li>
    <li *ngIf="usertype != 11 "><a href="/allusers"><i class="flaticon-user"></i> <span>Users</span></a></li>
    <li><a href="/adminproducts"><i class="flaticon-home"></i> <span>Properties</span></a></li>
    <li><a href="/adminrequirements"><i class="flaticon-magnifying-glass"></i> <span>Requirements</span></a></li>
    <li><a href="/adminreviews"><i class="flaticon-calendar"></i> <span>Reviews</span></a></li>
    <li><a href="/adminlawyerservices"><i class="flaticon-college-graduation"></i> <span>Lawyer Services</span></a></li>
    <li><a href="/adminloan"><i class="flaticon-user"></i> <span>Loan Control</span></a></li>
    <li *ngIf="usertype == 11 "><a href="/usercreator"><i class="flaticon-street-view"></i> <span>User
          Creator</span></a></li>
    <li class="title"><span>Manage Account</span></li>
    <li><a href="/profile"><i class="flaticon-user"></i> <span>My Profile</span></a></li>
    <li><a href="/logout"><i class="flaticon-logout"></i> <span>Logout</span></a></li>
  </ul>
</div>