<div id="modal-content-wrapper">
    <header id="modal-header" class="text-center">
        <h1 id="modal-title">Login Required</h1>
        <hr>
    </header>

    <section id="modal-body" class="text-center">
        <h4>Please login to proceed.</h4>
    </section>
    <footer id="modal-footer" class="text-center">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Login</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>