<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords"
		content="advanced search custom, agency, agent, business, clean, corporate, directory, google maps, homes, listing, membership packages, property, real estate, real estate agent, realestate agency, realtor">
	<meta name="description" content="FindHouse - Real Estate HTML Template">
	<meta name="CreativeLayers" content="ATFN">
	<!-- css file -->

	<!-- Title -->
	<title>FindHouse - Real Estate HTML Template</title>
	<!-- Favicon -->
	<!-- <link href="./../../assets/css/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
	<link href="./../../assets/css/images/favicon.ico" sizes="128x128" rel="shortcut icon" /> -->
</head>

<body>
	<div class="wrapper">
		<div *ngIf="showLoadingIndicator">
			<div class="preloader"></div>
		</div>
		<!-- Main Header Nav For Mobile -->
		<app-product-slider></app-product-slider>
		<!-- Agent Single Grid View -->
		<section class="our-agent-single bgc-f7 pb30-991">
			<div class="container">
				<div class="row" *ngFor="let product_data of productdata">
					<div class="col-lg-5 col-xl-5 single_page_column_address">
						<h5>{{product_data.build_name | titlecase}}</h5>
					</div>
					<div class="col-lg-7 col-xl-7 single_page_column_share">
						<div class="single_property_social_share">
							<div class="price float-left fn-400">
								<h2 *ngIf="product_data.expected_rent != null">₹
									{{Price_convert(product_data.expected_rent) }}<small>/month</small>
								</h2>
								<h2 *ngIf="product_data.expected_pricing != null">₹
									{{Price_convert(product_data.expected_pricing)}}</h2>
							</div>
							<div class="spss text-right tal-400 single-page-share">
								<ul class="mb0">
									<li class="list-inline-item" *ngIf="product_data.product_comparision==null">
										<a><span class="flaticon-transfer-1"
												(click)="product_comp(product_data.id)"></span></a>
									</li>
									<li class="list-inline-item property-active-btn"
										*ngIf="product_data.product_comparision !=null">
										<a><span class="flaticon-transfer-1"></span></a>
									</li>
									<li class="list-inline-item property-active-btn"
										*ngIf="product_data.single_wishlist != null;else wishlistcontent">
										<a (click)="Wishlist_remove(product_data.id)">
											<span class="flaticon-fa-heart"></span>
										</a>
									</li>
									<ng-template #wishlistcontent>
										<li class="list-inline-item">
											<a (click)="wishlist_added(product_data.id)"><span
													class="flaticon-heart"></span></a>
										</li>
									</ng-template>
									<li class="list-inline-item">
										<a><span class="flaticon-share"></span></a>
									</li>
									<li class="list-inline-item">
										<a><span class="flaticon-printer"></span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-8 mt30">
						<div class="row">
							
							<div class="col-lg-12 single-page_inner_column">
								<div class="listing_single_description">
									<div class="lsd_list">
										<ul class="mb0">
											<li class="list-inline-item"><a>Beds: {{product_data.bedroom}}</a></li>
											<li class="list-inline-item"><a>Baths: {{product_data.bathroom}}</a></li>
											<li class="list-inline-item"><a>Sq Ft: {{product_data.area}}</a></li>
											<li class="list-inline-item" *ngIf="product_data.expected_rent == null">
												<a>{{product_data.rera_registration_status}}</a>
											</li>
										</ul>
									</div>
									<h4 class="mb10">Description</h4>
									<p class="gpara second_para mt10 mb10" [ngClass]="{'limitTextHeight': isReadMore}">
										{{product_data.property_detail}}

									</p>
									<p class="overlay_close" *ngIf="product_data.property_detail.length>215">
										<button type="button" (click)="showText()">
											{{limitTextHeight}}
											{{ isReadMore ? 'Read More...': 'Read Less' }}
										</button>
									</p>
								</div>
							</div>
							<div class="col-lg-12 single-page_inner_column">
								<div class="additional_details">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="mb15">Property Details</h4>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-12">
											<table class="table table-borderless">
												<tbody>
													<tr>
														<th scope="row">Property Price</th>
														<td> :</td>
														<td *ngIf="product_data.expected_pricing != null">
															<span>₹ {{product_data.expected_pricing}}</span>
														</td>
														<td *ngIf="product_data.expected_rent != null">
															<span>₹ {{product_data.expected_rent}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Property Size</th>
														<td> :</td>
														<td>
															<span>{{product_data.area}} {{product_data.area_unit}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Year Built</th>
														<td> :</td>
														<td>
															<span>{{product_data.buildyear}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Bedrooms</th>
														<td> :</td>
														<td>
															<span>{{product_data.bedroom}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Bathrooms</th>
														<td> :</td>
														<td>
															<span>{{product_data.bathroom }}</span>
														</td>
													</tr>
													
													<tr *ngIf="product_data.rera_registration_status != null">
														<th scope="row">Property Status</th>
														<td> :</td>
														<td>
															<span>{{product_data.rera_registration_status}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Property Type</th>
														<td> :</td>
														<td>
															<span>{{product_data.property__type.name}}</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 single-page_inner_column">
								<div class="additional_details">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="mb15">Additional details</h4>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-12">
											<table class="table table-borderless">
												<tbody>
													<tr *ngIf="product_data.rera_registration_status != null">
														<th scope="row">Status</th>
														<td> :</td>
														<td>
															<span>{{product_data.rera_registration_status}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Landmark</th>
														<td> :</td>
														<td>
															<span>{{product_data.nearest_landmark}}</span>
														</td>
													</tr>
													<tr *ngIf="product_data.ownership != null">
														<th scope="row">Ownership</th>
														<td> :</td>
														<td>
															<span>{{product_data.ownership}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Remodel year</th>
														<td> :</td>
														<td>
															<span>{{product_data.buildyear}}</span>
														</td>
													</tr>
													<tr *ngIf="product_data.maintenance_charge_condition != null">
														<th scope="row">Maintenance</th>
														<td> :</td>
														<td>
															<span>{{product_data.maintenance_charge}}/{{product_data.maintenance_charge_condition}}</span>
														</td>
													</tr>
													<tr>
														<th scope="row">Area Unit</th>
														<td> :</td>
														<td>
															<span>{{product_data.area_unit}}</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 single-page_inner_column">
								<div class="property_attachment_area">
									<h4 class="mb30">Property Attachments</h4>
									<div class="iba_container style2">
										<div class="icon_box_area style2">
											<div class="score"><span class="flaticon-document text-thm fz30"></span>
											</div>
											<div class="details">
												<h5><span class="flaticon-download text-thm pr10"></span> Demo Word
													Document</h5>
											</div>
										</div>
										<div class="icon_box_area style2">
											<div class="score"><span class="flaticon-pdf text-thm fz30"></span></div>
											<div class="details">
												<h5><span class="flaticon-download text-thm pr10"></span> Demo pdf
													Document</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 single-page_inner_column" *ngIf="product_amenties_length>0">
								<div class="application_statics mt30 single-property-amenties">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="mb10">Amenities</h4>
										</div>
										<div class="col-12 col-lg-12">
											<ul class="order_list list-inline-item"
												*ngFor="let amenitiesData of amenitiesresult">
												<li *ngIf="Amenties_funtion(amenitiesData.id)==true">
													<span class="checkmark">&#10004;</span>
													<p class="paraclass">{{amenitiesData.name}}</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12" *ngIf="isLoggedIn == true">
								<div class="col-lg-12 single-page_inner_column"
									*ngIf="login_usertype==1 || product_data.user_id==login_userID">
									<app-product-google-map></app-product-google-map>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 single-page_inner_column" *ngIf="video_link>0">
									<app-product-video></app-product-video>
							</div>

							<!-- Code for EMI Calculator Start -->
							<div class="col-lg-12 col-md-12 col-sm-12 single-page_inner_column">
								<div class="application_statics mt30">
									<app-emi-calculator></app-emi-calculator>
								</div>
							</div>
							<!-- Code for EMI Calculator Start -->
							<div class="col-lg-12 col-md-12 col-sm-12 single-page_inner_column">
									<app-similar-product></app-similar-product>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xl-4 mt30 single-page_rigth_sidebar">
						<div class="sidebar_listing_list text-center"
							*ngIf="product_data.expected_rent != null && isLoggedIn == true ">
							<div *ngIf="user_transaction_status == true;else checkout">
								<div *ngIf="order_data.user_id == login_userID;else property_sold">
									<h4>
										<span class="alert-success">You have Already Purchased It</span>
									</h4>
								</div>
								<ng-template #property_sold>
									<h4>
										<span class="alert-danger">This item is Sold</span>
									</h4>
								</ng-template>
							</div>
							<ng-template #checkout>
								<button class="chekout_btn w100">
									<a class="btn" (click)="proceedToPayment(product_data.id)">Proceed to Checkout</a>
								</button>
							</ng-template>
						</div>
						<!-- testimonial section  -->
						<app-tesimonial-form></app-tesimonial-form>
						<!-- testimonial section  -->
						
						<!-- feature property section  -->
						<app-innerfeature-property></app-innerfeature-property>
						<!-- feature property section  -->

						<!-- product category section  -->
						<app-product-category></app-product-category>
						<!-- product category section  -->

						<!-- recent property section  -->
						<app-recently-product></app-recently-product>
						<!-- recent property section  -->
					</div>
				</div>
			</div>
		</section>
		<!-- Our Footer -->
		<app-footer></app-footer>
		<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
	</div>
	<!-- Wrapper End -->
</body>
</html>
