<div class="sidebar_search_widget">
    <div class="blog_search_widget">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Here"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span
                        class="flaticon-magnifying-glass"></span></button>
            </div>
        </div>
    </div>
</div>