<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords"
		content="advanced custom search, agency, agent, business, clean, corporate, directory, google maps, homes, idx agent, listing properties, membership packages, property, real broker, real estate, real estate agent, real estate agency, realtor">
	<meta name="description" content="FindHouse - Real Estate HTML Template">
	<meta name="CreativeLayers" content="ATFN">
	<!-- css file -->
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<!-- Responsive stylesheet -->
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<!-- Title -->

	<!-- Favicon -->
	<!-- <link href="./assets/css/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
	<link href="./assets/css/images/favicon.ico" sizes="128x128" rel="shortcut icon" /> -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
	<div class="wrapper">
		<!--<div class="preloader"></div>-->
		<div *ngIf="showLoadingIndicator">
            <div class="preloader"></div>
        </div>
		<!-- Main Header Nav -->
		<app-topbar></app-topbar>
		<!-- Home Design -->
		<!-- iqbal working searching bar -->
		<section class="home-one home1-overlay home1_bgi1">
			<div class="container">
				<div class="row posr">
					<div class="col-lg-12">
						<div class="home_content">
							<div class="home-text text-center">
								<h2 class="fz55">A STREET TO DREAM HOME</h2>
								<p class="fz18 color-white">Hamaara Sapna Ghar Ho Sabka Apna Apna</p>
							</div>
							<div class="home_adv_srch_opt">
								<ul class="nav nav-pills" id="pills-tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="pills-home-tab" data-toggle="pill"
											href="/productpagepills-home" role="tab" aria-controls="pills-home"
											aria-selected="true">Buy</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-profile-tab" data-toggle="pill"
											href="/productpagepills-profile" role="tab" aria-controls="pills-profile"
											aria-selected="false">Rent</a>
									</li>
								</ul>
								<div class="tab-content home1_adsrchfrm mx-auto" style="width: 80%;"
									id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
										aria-labelledby="pills-home-tab">
										<form class="home1-advnc-search" action="#" name="form" #f="ngForm">
											<ul class="h1ads_1st_list mb0">
												<li class="list-inline-item">
													<div class="form-group">
														<input type="text" class="form-control" name="build_name"
															[(ngModel)]="form.build_name" #build_name="ngModel"
															id="build_name" placeholder="Enter keywords...">
													</div>
												</li>
												<!-- <li class="list-inline-item">
												  <div class="form-group">
							<input type="text" class="form-control" name="type" [(ngModel)]="form.type" #type="ngModel" id="type" placeholder="Type">
												  </div>
											  </li> -->

												<li class="list-inline-item">
													<div class="search_option_two">
														<div class=" form-group candidate_revew_select">
															<select class="selectpicker w100 show-tick form-control"
																name="type" [(ngModel)]="form.type" #type="ngModel"
																id="type">
																<option value="Property Type">Property Type</option>
																<option value="ALL RESIDENTIAL">ALL RESIDENTIAL</option>
																<option value="Flat/ Apartment">Flat/ Apartment</option>
																<option value="Residential House">Residential House
																</option>
																<option value="Villa">Villa</option>
																<option value="Builder Floor Apartment">Builder Floor
																	Apartment</option>
																<option value="Residential Land/ Plot">Residential Land/
																	Plot</option>
																<option value="Penthouse">Penthouse</option>
																<option value="Studio Apartment">Studio Apartment
																</option>
																<option value="ALL COMMERCIAL">ALL COMMERCIAL</option>
																<option value="Commercial Office Space">Commercial
																	Office Space</option>
																<option value="Office in IT Park/ SEZ">Office in IT
																	Park/ SEZ</option>
																<option value="Commercial Shop">Commercial Shop</option>
																<option value="Commercial Showroom">Commercial Showroom
																</option>
																<option value="Commercial Land">Commercial Land</option>
																<option value="Warehouse/ Godown">Warehouse/ Godown
																</option>
																<option value="Industrial Land">Industrial Land</option>
																<option value="Industrial Building">Industrial Building
																</option>
																<option value="Industrial Shed">Industrial Shed</option>
																<option value="ALL AGRICULTURAL">ALL AGRICULTURAL
																</option>
																<option value="Agricultural Land">Agricultural Land
																</option>
																<option value="Farm House">Farm House</option>

															</select>
															<!-- <input type="text" class="form-control" name="type" [(ngModel)]="form.type" #type="ngModel" id="type" placeholder="Enter keywords..."> -->

														</div>
													</div>
												</li>
												<li class="list-inline-item">
													<div class="form-group">
														<input type="hidden" class="form-control" name="city"
															[(ngModel)]="form.city" #city="ngModel" id="city"
															placeholder="city">
														<input #search autocorrect="off" autocapitalize="off"
															spellcheck="off" [(ngModel)]="form.city" type="search"
															class="form-control input-text" placeholder="Enter Address"
															[ngModelOptions]="{ standalone: true }" />
														<label for="Location"><span
																class="flaticon-maps-and-flags"></span></label>
													</div>
												</li>
												<li class="list-inline-item">
													<div class="search_option_two">
														<div class="candidate_revew_select">
															<div class="dropdown bootstrap-select w100 show-tick">
																<select class="selectpicker show-tick form-control"
																	name="availability_condition"
																	[(ngModel)]="form.availability_condition"
																	#type="ngModel" id="availability_condition">
																	<option>Select Availability</option>
																	<option value="Under Construction">Under
																		Construction</option>
																	<option value="Ready To Move">Ready To Move</option>
																	<!-- <option value="Others">Others</option> -->
																</select>
															</div>
														</div>
													</div>
												</li>

												<li class="custome_fields_520 list-inline-item">
													<div class="navbered">
														<div class="mega-dropdown">
															<span id="show_advbtn" class="dropbtn">Advanced <i
																	class="flaticon-more pl10 flr-520"></i></span>
															<div class="dropdown-content">
																<div class="row p15">
																	<div class="col-lg-12">
																		<h4 class="text-thm3">Amenities</h4>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg-3"
																		*ngFor="let menuData of amenitiesresult">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox ">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="{{menuData.id}}"
																						value="{{menuData.id}}"
																						(change)="onchangeAmenties($event,menuData.id)">
																					<label class="custom-control-label"
																						for="{{menuData.id}}">{{menuData.name}}</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="row p15 pt0-xsd">
																	<div class="col-lg-11 col-xl-10">
																		<ul class="apeartment_area_list mb0">
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick"
																						name="Bathrooms"
																						[(ngModel)]="form.Bathrooms"
																						#type="ngModel" id="Bathrooms">
																						<option>Bathrooms</option>
																						<option>1</option>
																						<option>2</option>
																						<option>3</option>
																						<option>4</option>
																						<option>5</option>
																						<option>6</option>
																						<option>7</option>
																						<option>8</option>
																					</select>
																				</div>
																			</li>
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick"
																						name="Bedrooms"
																						[(ngModel)]="form.Bedrooms"
																						#type="ngModel" id="Bedrooms">
																						<option>Bedrooms</option>
																						<option>1</option>
																						<option>2</option>
																						<option>3</option>
																						<option>4</option>
																						<option>5</option>
																						<option>6</option>
																						<option>7</option>
																						<option>8</option>
																					</select>
																				</div>
																			</li>
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick"
																						name="Years"
																						[(ngModel)]="form.Years"
																						#type="ngModel" id="Years">
																						<option>Year built</option>
																						<option>2013</option>
																						<option>2014</option>
																						<option>2015</option>
																						<option>2016</option>
																						<option>2017</option>
																						<option>2018</option>
																						<option>2019</option>
																						<option>2020</option>
																					</select>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-lg-1 col-xl-2">
																		<div class="mega_dropdown_content_closer">
																			<h5 class="text-thm text-right mt15"><span
																					id="hide_advbtn"
																					class="curp">Hide</span></h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>

												<li class="list-inline-item">
													<div class="search_option_button form-group">
														<button type="button" (click)="f.form.valid && onSearch()"
															class="btn btn-thm">Search</button>
													</div>
												</li>
												<li class="list-inline-item">
													<div class="text-center" *ngIf="err_caused">
														<p class="alert alert-danger">{{errorMessage | json}}</p>
													</div>
												</li>

											</ul>
										</form>
									</div>

									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<div class="home1-advnc-search">
											<ul class="h1ads_1st_list mb0">
												<li class="list-inline-item">
													<div class="form-group">
														<input type="text" class="form-control" id="exampleInputName2"
															placeholder="Enter keyword...">
													</div>
												</li>
												<li class="list-inline-item">
													<div class="search_option_two">
														<div class="candidate_revew_select">
															<select class="selectpicker w100 show-tick">
																<option>Property Type</option>
																<option>Apartment</option>
																<option>Bungalow</option>
																<option>Condo</option>
																<option>House</option>
																<option>Land</option>
																<option>Single Family</option>
															</select>
														</div>
													</div>
												</li>
												<li class="list-inline-item">
													<div class="form-group">
														<input type="text" class="form-control" id="exampleInputEmail3"
															placeholder="Location">
														<label for="exampleInputEmail3"><span
																class="flaticon-maps-and-flags"></span></label>
													</div>
												</li>
												<li class="custome_fields_520 list-inline-item">
													<div class="navbered">
														<div class="mega-dropdown">
															<span id="show_advbtn2" class="dropbtn">Advanced <i
																	class="flaticon-more pl10 flr-520"></i></span>
															<div class="dropdown-content">
																<div class="row p15">
																	<div class="col-lg-12">
																		<h4 class="text-thm3">Amenities</h4>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg col-xl">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck16">
																					<label class="custom-control-label"
																						for="customCheck16">Air
																						Conditioning</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck17">
																					<label class="custom-control-label"
																						for="customCheck17">Lawn</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck18">
																					<label class="custom-control-label"
																						for="customCheck18">Swimming
																						Pool</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg col-xl">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck19">
																					<label class="custom-control-label"
																						for="customCheck19">Barbeque</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck20">
																					<label class="custom-control-label"
																						for="customCheck20">Microwave</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck21">
																					<label class="custom-control-label"
																						for="customCheck21">TV
																						Cable</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg col-xl">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck22">
																					<label class="custom-control-label"
																						for="customCheck22">Dryer</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck23">
																					<label class="custom-control-label"
																						for="customCheck23">Outdoor
																						Shower</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck24">
																					<label class="custom-control-label"
																						for="customCheck24">Washer</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg col-xl">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck25">
																					<label class="custom-control-label"
																						for="customCheck25">Gym</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck26">
																					<label class="custom-control-label"
																						for="customCheck26">Refrigerator</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck27">
																					<label class="custom-control-label"
																						for="customCheck27">WiFi</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-xxs-6 col-sm col-lg col-xl">
																		<ul class="ui_kit_checkbox selectable-list">
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck28">
																					<label class="custom-control-label"
																						for="customCheck28">Laundry</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck29">
																					<label class="custom-control-label"
																						for="customCheck29">Sauna</label>
																				</div>
																			</li>
																			<li>
																				<div
																					class="custom-control custom-checkbox">
																					<input type="checkbox"
																						class="custom-control-input"
																						id="customCheck30">
																					<label class="custom-control-label"
																						for="customCheck30">Window
																						Coverings</label>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="row p15 pt0-xsd">
																	<div class="col-lg-11 col-xl-10">
																		<ul class="apeartment_area_list mb0">
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick">
																						<option>Bathrooms</option>
																						<option>1</option>
																						<option>2</option>
																						<option>3</option>
																						<option>4</option>
																						<option>5</option>
																						<option>6</option>
																						<option>7</option>
																						<option>8</option>
																					</select>
																				</div>
																			</li>
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick">
																						<option>Bedrooms</option>
																						<option>1</option>
																						<option>2</option>
																						<option>3</option>
																						<option>4</option>
																						<option>5</option>
																						<option>6</option>
																						<option>7</option>
																						<option>8</option>
																					</select>
																				</div>
																			</li>
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick">
																						<option>Year built</option>
																						<option>2013</option>
																						<option>2014</option>
																						<option>2015</option>
																						<option>2016</option>
																						<option>2017</option>
																						<option>2018</option>
																						<option>2019</option>
																						<option>2020</option>
																					</select>
																				</div>
																			</li>
																			<li class="list-inline-item">
																				<div class="candidate_revew_select">
																					<select
																						class="selectpicker w100 show-tick">
																						<option>Built-up Area</option>
																						<option>Adana</option>
																						<option>Ankara</option>
																						<option>Antalya</option>
																						<option>Bursa</option>
																						<option>Bodrum</option>
																						<option>Gaziantep</option>
																						<option>İstanbul</option>
																						<option>İzmir</option>
																						<option>Konya</option>
																					</select>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<div class="col-lg-1 col-xl-2">
																		<div class="mega_dropdown_content_closer">
																			<h5 class="text-thm text-right mt15"><span
																					id="hide_advbtn2"
																					class="curp">Hide</span></h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-inline-item">
													<div class="search_option_button">
														<button type="submit" class="btn btn-thm">Search</button>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- iqbal working seacrhing bar end -->
		<!-- iqbal working feature property  -->
		<!-- Feature Properties -->
		<section id="feature-property" class="feature-property bgc-f7">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="/productpagefeature-property">
							<div class="mouse_scroll">
								<div class="icon">
									<h4>Scroll Down</h4>
									<p>to discover more</p>
								</div>
								<div class="thumb">
									<img src="./assets/css/images/resource/mouse.png" alt="mouse.png">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="container ovh">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="main-title text-center mb40">
							<h2>Featured Properties </h2>
							<p>Handpicked properties by our team.</p>
							<h4 class="italic" *ngIf="!content">No Properties</h4>
						</div>
					</div>
					<!-- loader start -->
					<div class="col-md-12 col-lg-12" class="loaderClass" *ngIf="showLoadingIndicator">
						<div class="preloader1"></div>
					</div>
					<!-- loader closed -->
					<div class="col-lg-12 feature-property_home">
						<owl-carousel-o [options]="customOptions">
							<ng-container *ngFor="let number of content">
								<!-- <div class="col-md-4 col-lg-4"> -->
								<ng-template carouselSlide carouselSlide [id]="number.id">

									<div class="feat_property home7 style4">
										<div class="thumb">
											<div class="fp_single_item_slider">
												<div class="item" *ngIf="number.product_image1 != NULL">
													<img class="img-whp" src="{{ftpstring}}{{ number.product_image1}}"
														alt="fp1.jpg">
												</div>
												<div class="item" *ngIf="number.product_image1 == NULL">
													<img class="img-whp" src="./assets/css/images/property/no_pro.png"
														alt="no property">
												</div>
											</div>
											<div class="thmb_cntnt style2">
												<ul class="tag mb0">

													<li class="list-inline-item" *ngIf=" number.rent_availability ">
														<a>For Rent</a></li>
													<li class="list-inline-item" *ngIf=" number.sale_availability ">
														<a>For Sale</a></li>
												</ul>
											</div>
											<div class="thmb_cntnt style3">
												<ul class="icon mb0">
													<!-- <li class="list-inline-item"><a ><span class="flaticon-transfer-1"></span></a></li> -->
													<li class="list-inline-item"
														*ngIf="number[0] != null;else wishlistcontent">
														<a (click)="DeleteProd_function(number.id)">
															<span class="flaticon-fa-heart"></span>
														</a>
													</li>
													<ng-template #wishlistcontent>
														<li class="list-inline-item">
															<a (click)="prod_function(number.id)"><span
																	class="flaticon-heart"></span></a>
														</li>
													</ng-template>
												</ul>
												<a *ngIf="number.expected_pricing != null" class="fp_price">${{
													number.expected_pricing }}<small></small></a>
												<a *ngIf="number.expected_rent != null" class="fp_price">${{
													number.expected_rent }}<small></small></a>
											</div>
										</div>
										<div class="details">
											<a href="/productpage/{{number.id}}">
												<div class="tc_content">
													<p class="text-thm">{{ number.type }}</p>
													<h4>{{number.build_name}}</h4>
													<p><span class="flaticon-placeholder"></span> {{ number.address }}
													</p>
													<ul class="prop_details mb0">
														<li class="list-inline-item"><a>Beds: {{ number.bedroom }}</a>
														</li>
														<li class="list-inline-item"><a>Baths: {{ number.bathroom }}</a>
														</li>
														<li class="list-inline-item"><a>Sq Ft: {{ number.area }}</a>
														</li>
													</ul>
												</div>
											</a>
											<div class="fp_footer">
												<!-- <ul class="fp_meta float-left mb0">
							<li class="list-inline-item"> <h2 class="fp_pdate float-right">Available For: {{number.available_for}}</h2> </li>
							  <li class="list-inline-item"><a >{{ number.username+1 }}</a></li>
							</ul> -->
												<div class="fp_pdate float-right"><a><button type="button"
															(click)="onComp(number.id)"
															class="btn btn-log btn-block btn-thm bg-white text-black-50">Add
															to compare</button></a></div>
												<div class="fp_pdate float-left">
													<ul class="fp_meta float-left mb0">
														<li class="list-inline-item"><a href="#"><img
																	src="./../../assets/css/images/property/pposter1.png"
																	alt="pposter1.png"></a></li>
														<li class="list-inline-item"><a
																href="#">{{number.user_detail.name}}</a></li>
													</ul>
												</div>
												<!-- <div class="fp_pdate float-right"><a href="/productpage"><li  class="list-inline-item"></li></a></div> -->
											</div>
										</div>
									</div>
								</ng-template>
								<!-- </div> -->
							</ng-container>
						</owl-carousel-o>
						<!-- <div class="col-lg-12 mt20">
				<div class="mbp_pagination">
				  <ul class="page_navigation">
					  <li class="page-item disabled">
						<a class="page-link"  tabindex="-1" aria-disabled="true"> <span class="flaticon-left-arrow"></span> Prev</a>
					  </li>
					  <li class="page-item"><a class="page-link" >1</a></li>
					  <li class="page-item active" aria-current="page">
						<a class="page-link" >2 <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="page-item"><a class="page-link" >3</a></li>
					  <li class="page-item"><a class="page-link" >...</a></li>
					  <li class="page-item"><a class="page-link" >29</a></li>
					  <li class="page-item">
						<a class="page-link" href="#"><span class="flaticon-right-arrow"></span></a>
					  </li>
				  </ul>
				</div>
			  </div> -->

					</div>
				</div>
			</div>
		</section>
		<!-- feature property end -->
		<!-- Property Cities -->
		<section id="property-city" class="property-city pb30">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="main-title text-center">
							<h2>Find Properties in These Cities</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-xl-4" (click)="property_search('qwerwqer')">
						<div class="properti_city">
							<div class="thumb">
								<img class="img-fluid w100" src="./assets/css/images/property/pc1.jpg" alt="pc1.jpg">
							</div>
							<div class="overlay">
								<div class="details">
									<p>Mumbai</p>
									<!-- <p>24 Properties</p> -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-xl-8" (click)="property_search('delhi')">
						<div class="properti_city">
							<div class="thumb"><img class="img-fluid w100" src="./assets/css/images/property/pc2.jpg"
									alt="pc2.jpg"></div>
							<div class="overlay">
								<div class="details">
									<h4>Delhi</h4>
									<!-- <p>18 Properties</p> -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-xl-8" (click)="property_search('chennai')">
						<div class="properti_city">
							<div class="thumb"><img class="img-fluid w100" src="./assets/css/images/property/pc3.jpg"
									alt="pc3.jpg"></div>
							<div class="overlay">
								<div class="details">
									<h4>Chennai</h4>
									<!-- <p>89 Properties</p> -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xl-4" (click)="property_search('kolkata')">
						<div class="properti_city">
							<div class="thumb"><img class="img-fluid w100" src="./assets/css/images/property/pc4.jpg"
									alt="pc4.jpg"></div>
							<div class="overlay">
								<div class="details">
									<h4>Kolkata</h4>
									<!-- <p>47 Properties</p> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Why Chose Us -->
		<section id="why-chose" class="whychose_us bgc-f7 pb30">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="main-title text-center">
							<h2>Why Choose Us</h2>
							<p>We provide full service at every step.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 col-xl-4">
						<div class="why_chose_us">
							<div class="icon">
								<span class="flaticon-high-five"></span>
							</div>
							<div class="details">
								<h4>Trusted By Thousands</h4>
								<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus
									vel felis.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-4">
						<div class="why_chose_us">
							<div class="icon">
								<span class="flaticon-home-1"></span>
							</div>
							<div class="details">
								<h4>Wide Renge Of Properties</h4>
								<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus
									vel felis.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-4">
						<div class="why_chose_us">
							<div class="icon">
								<span class="flaticon-profit"></span>
							</div>
							<div class="details">
								<h4>Financing Made Easy</h4>
								<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus
									vel felis.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- iqbal working testimonial section -->
		<section *ngIf="testimonial_length>0" id="our-testimonials" class="our-testimonial">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="main-title text-center">
							<h2 class="color-white">Testimonials</h2>
							<p class="color-white">Here could be a nice sub title</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<ngb-carousel>
							<ng-template ngbSlide *ngFor="let testimoData of testimonial">
								<div class="item">
									<div class="testimonial_grid">
										<div class="thumb">
											<img src="./../../assets/css/images/property/pposter1.png"
												alt="user Testimonial image">
										</div>
										<div class="details">
											<h4>{{testimoData.user_name}}</h4>
											<p>{{testimoData.rev_subject}}</p>
											<p class="mt10 mb10" *ngIf="testimoData.stars == 0">
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</p>

											<p class="mt10 mb10" *ngIf="testimoData.stars == 1">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</p>

											<p class="mt10 mb10" *ngIf="testimoData.stars == 2">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</p>

											<p class="mt10 mb10" *ngIf="testimoData.stars == 3">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</p>

											<p class="mt10 mb10" *ngIf="testimoData.stars == 4">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</p>

											<p class="mt10 mb10" *ngIf="testimoData.stars == 5">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</p>
											<p class="mt10 mb25">
												{{testimoData.rev_content}}
											</p>
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-carousel>

					</div>
				</div>
			</div>
		</section>

		<!-- iqbal wroking testimonail section -->
		<!-- Slide 3 of 3 -->


		<!-- Our Testimonials -->
		<!-- <section id="our-testimonials" class="our-testimonial">
		  <div class="container">
			  <div class="row">
				  <div class="col-lg-6 offset-lg-3">
					  <div class="main-title text-center">
						  <h2 class="color-white">Testimonials</h2>
						  <p class="color-white">Here could be a nice sub title</p>
					  </div>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-lg-6 offset-lg-3">
					  <div class="testimonial_grid_slider">
						  <div class="item active">
							  <div class="testimonial_grid">
								  <div class="thumb">
									  <img src="./assets/css/images/testimonial/1.jpg" alt="1.jpg">
								  </div>
								  <div class="details">
									  <h4>Augusta Silva</h4>
									  <p>Sales Manager</p>
									  <p class="mt25">Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="testimonial_grid">
								  <div class="thumb">
									  <img src="./assets/css/images/testimonial/1.jpg" alt="1.jpg">
								  </div>
								  <div class="details">
									  <h4>Augusta Silva</h4>
									  <p>Sales Manager</p>
									  <p class="mt25">Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="testimonial_grid">
								  <div class="thumb">
									  <img src="./assets/css/images/testimonial/1.jpg" alt="1.jpg">
								  </div>
								  <div class="details">
									  <h4>Augusta Silva</h4>
									  <p>Sales Manager</p>
									  <p class="mt25">Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="testimonial_grid">
								  <div class="thumb">
									  <img src="./assets/css/images/testimonial/1.jpg" alt="1.jpg">
								  </div>
								  <div class="details">
									  <h4>Augusta Silva</h4>
									  <p>Sales Manager</p>
									  <p class="mt25">Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </section> -->

		<!-- Articles and Tips Section -->
		<!-- Added by Radhika Start -->
		<app-articles-tips></app-articles-tips>
		<!-- Added by Radhika End -->

		<!-- Our Partners -->
		<section id="our-partners" class="our-partners">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="main-title text-center">
							<h2>Our Partners</h2>
							<p>We only work with the best companies around the globe</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg">
						<div class="our_partner">
							<img class="img-fluid" src="./assets/css/images/partners/1.png" alt="1.png">
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg">
						<div class="our_partner">
							<img class="img-fluid" src="./assets/css/images/partners/2.png" alt="2.png">
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg">
						<div class="our_partner">
							<img class="img-fluid" src="./assets/css/images/partners/3.png" alt="3.png">
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg">
						<div class="our_partner">
							<img class="img-fluid" src="./assets/css/images/partners/4.png" alt="4.png">
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg">
						<div class="our_partner">
							<img class="img-fluid" src="./assets/css/images/partners/5.png" alt="5.png">
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Partners -->
		<section class="start-partners bgc-thm pt50 pb50">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="start_partner tac-smd">
							<h2>Become a Real Estate Agent</h2>
							<p>We only work with the best companies around the globe</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="parner_reg_btn text-right tac-smd">
							<a class="btn btn-thm2" href="/agentregister">Register Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Our Footer -->
		<app-footer></app-footer>
		<a class="scrollToHome" href="#"><i class="fa fa-angle-double-up"></i></a>
	</div>
	<!-- Wrapper End -->


	<!-- Custom script for all pages -->

	<!-- -->

</body>


<router-outlet></router-outlet>