<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords"
		content="advanced custom search, agency, agent, business, clean, corporate, directory, google maps, homes, idx agent, listing properties, membership packages, property, real broker, real estate, real estate agent, real estate agency, realtor">
	<meta name="description" content="FindHouse - Real Estate HTML Template">
	<meta name="CreativeLayers" content="ATFN">
	</head>

<body>
	<div class="wrapper">
		<!--<div class="preloader"></div>-->
		<div *ngIf="showLoadingIndicator">
			<div class="preloader"></div>
		</div>
		<!-- Main Header Nav -->
		<!--<app-topbar></app-topbar>-->
		<!-- Home Design -->
		<!-- iqbal working searching bar -->
		<section class="home-one home1-overlay home1_bgi1">
			<div class="container">
				<div class="row posr">
					<div class="col-lg-12">
						<div class="home_content">
							<div class="home-text text-center">
								<h2 class="fz55">A Street to Dream Home</h2>
								<p class="fz18 color-white">Hamaara Sapna Ghar Ho Sabka Apna Apna</p>
							</div>
							<!-- seacrh form  -->
							<app-home-search-form></app-home-search-form>
							<!-- search form  -->
						</div><!--home -->
					</div><!--column -->
				</div><!--row -->
			</div><!--container -->
		</section>
		<!-- iqbal working seacrhing bar end -->
		<!-- feature property  -->
		<!-- Feature Properties -->
		<app-feature-property></app-feature-property>
		<!-- feature property end -->

		<!-- Property Cities -->
       <app-city-property></app-city-property>
	   <!-- property cities  -->
		
	   <!-- Why Chose Us -->
		<app-why-choose-us></app-why-choose-us>
	   <!-- wht choose us  -->
	
	   <!-- testimonial section -->
		<app-testimonial></app-testimonial>
		<!--  testimonail section -->
	
		<!-- blog articles Start -->
		<app-articles-tips></app-articles-tips>
		<!--  blog articles  End -->
	
		<!-- Our Partners -->
		<app-our-partners></app-our-partners>
		<!-- our partners  -->
	
		<!-- real estate agent section  -->
		   <app-real-estate-agent></app-real-estate-agent>
	   <!-- real estate agent section  -->
    
	   <!-- Our Footer -->
		<app-footer></app-footer>
		<a class="scrollToHome" href="#"><i class="fa fa-angle-double-up"></i></a>
	</div>
	<!-- Wrapper End -->
</body>
<router-outlet></router-outlet>